# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/__pycache__
/.idea
/build
/dist
/Dependencias/__pycache__
/Config/__pycache__
/main.spec
/Strava2Notion

/Config/config.py